@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <div class="container">
    <a href="/Tamagotchi/new">Create a New Tamagotchi Pet</a>
    <a href="/Tamagotchi">See All Your Tamagotchis</a>
  </div>
</div>
