@using TamagotchiNamespace;

@{
  ViewData["Title"] = "Tamagotchi - Home";
}

<div class="text-center">
  <div class="container">
    <div class="card welcome-card row p-5 m-2">
      <h1 class="display-4 mt-0 pb-5">Tamagotchi Home</h1>
      <h2>View all your Tamagotchis here</h2>

      <div class="container">
        <div class="row">
          @foreach (TamagotchiNamespace.Tamagotchi pet in Model)
          {
            <div class="card p-2 m-2">
              <h3><strong>Name:</strong> @pet.Name</h3>
              <h4><strong class="border-bottom">Stats:</strong></h4>
              <h5>Hunger: @pet.HungerLevel</h5>
              <h5>Sleepiness: @pet.SleepinessLevel</h5>
              <h5>Attention Needed: @pet.AttentionLevel</h5>
              <form action="/Tamagotchi/@pet.ID/feed" method="post">
                <button type="submit" class="btn btn-block mb-2 btn-success">Feed Me!</button>
              </form>
              <form action="/Tamagotchi/@pet.ID/rest" method="post">
                <button type="submit" class="btn btn-block mb-2 btn-primary">Let Me Rest!</button>
              </form>
              <form action="/Tamagotchi/@pet.ID/attention" method="post">
                <button type="submit" class="btn btn-block mb-2 btn-warning">Pay Attention To Me!</button>
              </form>
            </div>
          }
        </div>
      </div>

    </div>
  </div>
</div>
